
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/desktop_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


main{
    height: inherit;
    position: relative;
    width: inherit;
}

main .testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 3rem;
    z-index: 999;
}


main .testimonials span:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main .testimonials button{
    border-radius: 15px;
    border: none;
    height: 4.3125rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    text-transform: capitalize;
}

main .icons img{
    position: absolute;
    z-index: -1;
}
main .icons img:nth-child(1){
    top: 8%;
    left: 30%;
}
main .icons img:nth-child(2){
    top: 66%;
    left: 20%;
    rotate: 40deg;
}
main .icons img:nth-child(3){
    top: 7%;
    right: 0;
}
main .icons img:nth-child(4){
    bottom: 10%;
    left: 0;
}
main .icons img:nth-child(5){
    bottom: 40%;
    left: 0;
}
main .icons img:nth-child(6){
    top: 8%;
    right: 25%;
}
main .icons img:nth-child(7){
    bottom: 1%;
    left: 15%;
}
main .icons img:nth-child(8){
    top: 1%;
    left: 32%;
}
main .icons img:nth-child(9){
    top: 15%;
    left: 20%;
}
main .icons img:nth-child(10){
    top: 0;
    left: -2%;
}
main .icons img:nth-child(11){
    bottom: 0;
    right: 0;
}
main .icons img:nth-child(12){
    bottom: 10%;
    right: 20%;
}
main .icons img:nth-child(13){
    bottom: 2%;
    right: 40%;
}
main .icons img:nth-child(14){
    top: 30%;
    left: 0;
}
main .icons img:nth-child(15){
    top: 35%;
    right: 0;
}
main .icons img:nth-child(16){
    top: 10%;
    right: 10%;
}
main .icons img:nth-child(17){
    top: 7%;
    left: 14%;
}
main .icons img:nth-child(18){
    bottom: 1%;
    right: 10%;
}
main .icons img:nth-child(19){
    bottom: 40%;
    right: 0;
}
main .icons img:nth-child(20){
    top: 0;
    left: 25%;
}
main .icons img:nth-child(21){
    bottom: 0;
    right: 25%;
}
main .icons img:nth-child(22){
    bottom: 10%;
    right: 37%;
}
main .icons img:nth-child(23){
    bottom: 30%;
    right: 5%;
}
main .icons img:nth-child(24){
    bottom: 13%;
    right: 50%;
}
main .icons img:nth-child(25){
    top: 8%;
    right: 40%;
}
main .icons img:nth-child(26){
    bottom: 10%;
    left: 10%;
}
main .icons img:nth-child(27){
    top: 0;
    right: 43%;
}
main .icons img:nth-child(28){
    top: 25%;
    right: 0;
}
main .icons img:nth-child(29){
    top: 0;
    right: 30%;
}
main .icons img:nth-child(30){
    top: 15%;
    left: 0;
}
main .icons img:nth-child(31){
    top: 20%;
    right: 15%;
    rotate: -90deg;
}
main .icons img:nth-child(32){
    bottom: 3%;
    left: 36%;
}
main .icons img:nth-child(33){
    bottom: 20%;
    left: 3%;
}
main .icons img:nth-child(34){
    bottom: 10%;
    right: 0;
}
main .icons img:nth-child(35){
    top: 35%;
    left: 17%;
}
main .icons img:nth-child(36){
    top: 0%;
    right: 7%;
}
main .icons img:nth-child(37){
    bottom: 0%;
    left: 5%;
}
main .icons img:nth-child(38){
    top: 38%;
    left: 5%;
}
main .icons img:nth-child(39){
    top: 50%;
    left: 15%;
}
main .icons img:nth-child(40){
    top: 50%;
    right: 15%;
    rotate: 90deg;
}

@media (width < 1440px){
    main .icons img{
        width: 9%;
    }
}
@media (width < 900px){
    main .testimonials span img{
        width: 90%;
    }

    main .testimonials span:nth-child(2){
        img:nth-child(1){
            width: 40%;
        }
    }
    main .icons img{
        width: 14%;
        height: 8%;
    }
}



.container{
    width: 36.3125rem;
    height: 38.3125rem;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.17);
    filter: drop-shadow(0px 4px 68.51px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(18.600000381469727px);
    border-radius: 2rem;
    box-shadow: 0.1px 0.1px 100px #20202065;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 4.5vw;
}

.container img{
    width: 50%;
}

.container input{
    max-width: 27.5rem;
    max-height: 3.5rem;
    padding: 1rem 12rem 1rem 1rem;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    background: #FFF;
}

.container input::placeholder{
    color: #000;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}

.container p{
    color: #000;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.76;
}

.container button{
    width: 27.5rem;
    height: 4.3125rem;
    border-radius: 0.6875rem;
    background: #C00;   
    border: none;
    color: #fefefe;
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.container button:hover{
    background-color: #202020;
}

section{
    width: 43.464rem;
    height: 49.60263rem;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.17);
    filter: drop-shadow(0px 4px 68.51px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(18.600000381469727px);
    border-radius: 2rem;
    box-shadow: 0.1px 0.1px 100px #20202065;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4.79rem 4.5rem;
    margin-top: 5rem;
}

section .pfp{
    width: 10.40756rem;
    height: 12.78319rem;
    border-radius: 1.13125rem;
    background: #FFF9CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

section select{
    width: 30.31769rem;
    height: 3.50688rem;
    font-size: 1.25rem;
    appearance: none;
    flex-shrink: 0;
    border-radius: 0.56563rem;
    background: #FFF8CA;
    padding: 1rem;
    outline: none;
    border: none;
    z-index: 999;
}

section select option{
    opacity: 0.7;
    color: #000;
    font-size: 1.25rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border: none;
}

section textarea{
    width: 30.31769rem;
    height: 15.15888rem;
    flex-shrink: 0;
    border-radius: 0.56563rem;
    background-color: #FFF8CA;
    outline: none;
    border: none;
    padding: 1rem;
    resize: none;
}

section textarea::placeholder{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
    outline: none;
}

section button{
    width: 30.3125rem;
    height: 4.5rem;
    flex-shrink: 0;
    border-radius: 0.62219rem;
    background: #C00;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


article{
    width: 43.77231rem;
    height: 49.97281rem;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.17);
    filter: drop-shadow(0px 4px 68.51px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(18.600000381469727px);  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    border-radius: 2rem;
    box-shadow: 0.1px 0.1px 100px #20202065;
    padding: 8.79rem 4.5rem;
    margin-top: 5rem;
}

article textarea{
    width: 30.31769rem;
    height: 15.15888rem;
    flex-shrink: 0;
    border-radius: 0.56563rem;
    background-color: #FFF8CA;
    outline: none;
    border: none;
    padding: 1rem;
    resize: none;
}

article textarea::placeholder{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
    outline: none;
}

article p{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

article select{
    width: 30.31769rem;
    height: 3.50688rem;
    flex-shrink: 0;
    appearance: none;
    border-radius: 0.56563rem;
    background: #FFF8CA;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.25rem;
}

article select option{
    opacity: 0.7;
    color: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: normal;
    outline: none;
    border: none;
}
.select_container{
    position: relative;
}

.select_container i{
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    font-size: 1.25rem;
}

article button{
    width: 30.3125rem;
    height: 4.5rem;
    flex-shrink: 0;
    border-radius: 0.62219rem;
    background: #C00;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

section button:hover{
    background-color: #202020;
}
article button:hover{
    background-color: #202020;
}

.toggle_class{
    display: none;
}

#forward{
    position: absolute;
    right: 1vw;
    width: 6.8125rem;
    height: 6.8125rem;
    flex-shrink: 0;
    background-color: #FFE451;
    stroke-width: 1px;
    stroke: rgba(255, 228, 81, 0.76);
    backdrop-filter: blur(4.800000190734863px);
    box-shadow: 0.1px 0.1px 100px #20202065;
    border-radius: 100vw;
    border: none;
    cursor: pointer;
}
#backward{
    position: absolute;
    left: 1vw;
    width: 6.8125rem;
    height: 6.8125rem;
    flex-shrink: 0;
    background-color: #FFE451;
    stroke-width: 1px;
    stroke: rgba(255, 228, 81, 0.76);
    backdrop-filter: blur(4.800000190734863px);
    box-shadow: 0.1px 0.1px 100px #20202065;
    border-radius: 100vw;
    border: none;
    cursor: pointer;
}

@media(max-width:768px){
    .container{
        height: 70vh;
        width: 90vw;
        margin-inline: auto;
        justify-content: center;
        margin-top: 6rem;
        padding-block: clamp(1rem , 3rem , 8rem);
        gap: 2rem;
    }
    .container img{
        width: 70%;
    }
    .container p{
        font-size: 1rem;
    }
    .container input{
        width: 100%;
    }

    section{
        min-height: 70vh;
        width: 90vw;
        margin-inline: auto;
        margin-top: 10rem;
        padding-block: clamp(1rem , 2rem , 3.5rem);
        justify-content: center;
        gap: 1rem;
    }
    section .pfp{
        height: 10rem;
        width: 10rem;
    }
    section .pfp img{
        height: 90%;
    }
    section textarea , section button {
        width: 100%;
    }

    article{
        min-height: 90vh;
        width: 90vw;
        margin-inline: auto;
        margin-top: 3rem;
        padding: 1rem 2rem;
        justify-content: center;
        gap: 1rem;
    }
    article p {
        font-size: 1.25rem;
    }
    article textarea , article button {
        width: 100%;
    }
    .select_container{
        width: 100%;
    }

    .select_container select{
        width: inherit;
    }
}


@media (max-width: 1000px){
    body{
        position: relative;
    }
    .logo{
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
    .logo_toggle{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    #forward{
        top: 1rem;
        left: 1rem;
        width: 4.5rem;
        height: 4.5rem;
    }
    #backward{
        top: 1rem;
        left: 1rem;
        width: 4.5rem;
        height: 4.5rem;
    }
}
@media (max-width: 540px){
    .container button{
        width: 100%;
    }
}

@media(min-width:1000px){   
    .logo{
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    .logo_toggle{
        position: absolute;
        left: 2rem;
        top: 2rem;
    }
}
