*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/desktop_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* overflow: hidden; */
}


main{
    height: 100vh;
    position: relative;
}

main .testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 3rem;
    z-index: 999;
}

main .testimonials span:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .testimonials button{
    padding: 1.5rem 4rem;
    border-radius: 15px;
    border: none;
    background-color: #202020;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 6.5px 6.5px 0px #00000088;
    transition: all 0.3s ease-in-out;
}

main .testimonials button:hover{
    /* scale: 1.2; */
    box-shadow: 0px 0px 0px #00000088;
}


main .icons img{
    position: absolute;
    z-index: -1;
}
main .icons img:nth-child(1){
    top: 8%;
    left: 30%;
}
main .icons img:nth-child(2){
    top: 66%;
    left: 20%;
    rotate: 40deg;
}
main .icons img:nth-child(3){
    top: 7%;
    right: 0;
}
main .icons img:nth-child(4){
    bottom: 10%;
    left: 0;
}
main .icons img:nth-child(5){
    bottom: 40%;
    left: 0;
}
main .icons img:nth-child(6){
    top: 8%;
    right: 25%;
}
main .icons img:nth-child(7){
    bottom: 1%;
    left: 15%;
}
main .icons img:nth-child(8){
    top: 1%;
    left: 32%;
}
main .icons img:nth-child(9){
    top: 15%;
    left: 20%;
}
main .icons img:nth-child(10){
    top: 0;
    left: -2%;
}
main .icons img:nth-child(11){
    bottom: 0;
    right: 0;
}
main .icons img:nth-child(12){
    bottom: 10%;
    right: 20%;
}
main .icons img:nth-child(13){
    bottom: 2%;
    right: 40%;
}
main .icons img:nth-child(14){
    top: 30%;
    left: 0;
}
main .icons img:nth-child(15){
    top: 35%;
    right: 0;
}
main .icons img:nth-child(16){
    top: 10%;
    right: 10%;
}
main .icons img:nth-child(17){
    top: 7%;
    left: 14%;
}
main .icons img:nth-child(18){
    bottom: 1%;
    right: 10%;
}
main .icons img:nth-child(19){
    bottom: 40%;
    right: 0;
}
main .icons img:nth-child(20){
    top: 0;
    left: 25%;
}
main .icons img:nth-child(21){
    bottom: 0;
    right: 25%;
}
main .icons img:nth-child(22){
    bottom: 10%;
    right: 37%;
}
main .icons img:nth-child(23){
    bottom: 30%;
    right: 5%;
}
main .icons img:nth-child(24){
    bottom: 13%;
    right: 50%;
}
main .icons img:nth-child(25){
    top: 8%;
    right: 40%;
}
main .icons img:nth-child(26){
    bottom: 10%;
    left: 10%;
}
main .icons img:nth-child(27){
    top: 0;
    right: 43%;
}
main .icons img:nth-child(28){
    top: 25%;
    right: 0;
}
main .icons img:nth-child(29){
    top: 0;
    right: 30%;
}
main .icons img:nth-child(30){
    top: 15%;
    left: 0;
}
main .icons img:nth-child(31){
    top: 20%;
    right: 15%;
    rotate: -90deg;
}
main .icons img:nth-child(32){
    bottom: 3%;
    left: 36%;
}
main .icons img:nth-child(33){
    bottom: 20%;
    left: 3%;
}
main .icons img:nth-child(34){
    bottom: 10%;
    right: 0;
}
main .icons img:nth-child(35){
    top: 35%;
    left: 17%;
}
main .icons img:nth-child(36){
    top: 0%;
    right: 7%;
}
main .icons img:nth-child(37){
    bottom: 0%;
    left: 5%;
}
main .icons img:nth-child(38){
    top: 38%;
    left: 5%;
}
main .icons img:nth-child(39){
    top: 50%;
    left: 15%;
}
main .icons img:nth-child(40){
    top: 50%;
    right: 15%;
    rotate: 90deg;
}

@media (width < 1440px){
    main .testimonials button{
        padding: 1rem 2rem;
    }

    main .icons img{
        width: 9%;
    }
}
@media (width < 900px){
    main .testimonials img{
        width: 90%;
    }

    main .testimonials span:nth-child(2){
        img:nth-child(1){
            width: 40%;
        }
    }
    main .testimonials button{
        padding: 0.8rem 1.4rem;
        font-size: 1rem;
    }
    main .icons img{
        width: 14%;
    }
}